<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Streamed Data Table</title>
    <link rel="stylesheet" href="/static/css/style.css">
    <script src="/static/index.js"></script>
</head>
<body>
    <div class="q_table">
        <table id="dataTable">
            <thead>
                <tr>
                    <th>Index</th>
                </tr>
            </thead>
            <tbody id="tableBody"></tbody>
        </table>
    </div>


    <div class="pagination">
        <button id="prevButton" disabled>Previous</button>
        <span id="pageInfo">Page 0 of 0</span>
        <button id="nextButton" disabled>Next</button>
    </div>

    <div id="loadingIndicator">Loading data...</div>
    <div id="errorMessage"></div>
    <div class="query_input">
        <input type="text" id="queryInput" name="query" placeholder="Enter a query">
        <button id="queryButton">Query</button>
    </div>
</body>
</html>