<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Streamed Data Table</title>
    <link rel="stylesheet" href="/static/css/style.css">
    <script src="/static/css/index.js"></script>
</head>
<body>
    <table id="dataTable">
        <thead>
            <tr>
                <th>Index</th>
                <!-- Dynamic column headers will be added here -->
            </tr>
        </thead>
        <tbody id="tableBody"></tbody>
    </table>

    <div class="pagination">
        <button id="prevButton" disabled>Previous</button>
        <span id="pageInfo">Page 0 of 0</span>
        <button id="nextButton" disabled>Next</button>
    </div>

    <div id="loadingIndicator">Loading data...</div>
    <div id="errorMessage"></div>


</body>
</html>